
.slider-container{
    width: 500px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;

    grid-template-areas: 
    'slider-title-Question slider-title-Question'
    'slider-bar slider-bar';
}

.slider-title-Question{
    grid-area: slider-title-Question ;
    display: flex;
    justify-content: left;
}
.slider-bar{
    grid-area: slider-bar;
    display: flex;
    justify-content: left;
}

@media screen and (max-width: 700px){
    .slider-container{
        width:200px;
        grid-template-areas: 
        'slider-title-Question'
        'slider-bar';
    }
}