.pet-info-grid-container{
    background: white;
}

.searchBar{
    display: flex;
    grid-gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.card-display-submit {
    background: rgb(184, 175, 175);
    display: grid;
    margin-top: 20px;
    padding: 20px;
    padding-left: 20px;
    row-gap: 15px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 700px) {
    .card-display-submit {
        background: rgb(184, 175, 175);
        display: grid;
        padding: 20px;
        row-gap: 15px;
        grid-template-columns: 1fr;
    }
}